<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="my_robot_j3_ros2_control" params="name initial_positions_file">
    <xacro:property name="initial_positions" value="${xacro.load_yaml(initial_positions_file)['initial_positions']}"/>

    <ros2_control name="RealHardware" type="system">
      <hardware>
        <plugin>canopen_ros2_control/Cia402System</plugin>
        <param name="bus_config">$(find moveit_config)/config/bus_j3_debug.yml</param>
        <param name="master_config">$(find moveit_config)/config/master.dcf</param>
        <param name="can_interface_name">can0</param>
        <param name="master_id">100</param>
        <param name="config_fallback">true</param>
      </hardware>

      <joint name="joint3">
        <param name="node_id">1</param>
        <command_interface name="position"/>
        <state_interface name="position">
          <param name="initial_value">${initial_positions['joint3']}</param>
        </state_interface>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>
  </xacro:macro>
</robot>